@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px
}

:root {
  font-family: 'Rethink Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;



}